@use '../../../styles/_variables.scss' as *;

.users-table table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);

  th,
  td {
    border: 1px solid #ebebeb;
    padding: 15px 10px;
    text-align: left;
  }

  th {
    font-size: $text-m;
    font-weight: normal;
    position: relative;
    background-color: #f6f6f6;
  }

  td {
    font-size: $text-s;
    color: $text-sec-color;
  }

  tbody tr:nth-child(even) {
    background-color: #fafafa;
  }

  tbody tr:nth-child(odd) {
    background-color: #fff;
  }

  td span {
    padding: 5px 15px;
    border-radius: 100px;
    transition: all 0.25s ease;
  }

  td .active {
    background-color: $success-bg;
    color: $success-text;
  }

  td .expiring {
    background-color: $warning-bg;
    color: $warning-text;
  }

  td .expired {
    background-color: $danger-bg;
    color: $danger-text;
  }

  .clickable-row {
    cursor: pointer;
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    
    &:hover {
      background-color: #fff !important;
      color: $text-color;
      transform: scale(1.03);
            
      td {
        color: $text-sec-color;
      }
      
      td span {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
      }
    }
    
    &:active {
      transform: translateY(0);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
      transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }
}