@use '../../../styles/variables' as *;

.weekdays-deck {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}
  
.weekday {
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color;
  padding: 10px;
  margin: 0 -0.5px;
}

.weekday-title {
  font-size: $text-s;
  margin-bottom: 10px;
  color: $text-trd-color;
}

.slots-deck {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.slot {
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {cursor: pointer; transform: scale(1.015);}

  .time {
      font-size: $text-xs;
  }

  .capacity {
      font-size: $text-s;
  }
}

.slot.gone {
  background-color: $bg-sec-color;
  color: $text-trd-color;
}
.slot.full {
  background-color: $danger-bg;
  color: $danger-text;
}
.slot.almost-full {
  background-color: $warning-bg;
  color: $warning-text;
}
.slot.free {
  background-color: $success-bg;
  color: $success-text;
}

.week-selector{
  display: flex;
  width: 200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .week-selector-title {
    font-size: $text-m;
    color: $text-trd-color;
  }

  .week-selector-buttons {
    display: flex;
    gap: 10px;
  }

  .nav-button {
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: $br-100;
    background-color: $bg-sec-color;
    border: none;
    color: $text-trd-color;
    font-size: $text-xs;

    &:hover {
      cursor: pointer;
      color: $text-color;
      background-color: $border-color;
      transition: 300ms;
    }

    .chevron {display: flex; align-items: center; justify-content: center; font-size: 20px; margin: 0; padding: 0;}
  }

}


  