.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;

  .sidebar {
    background-color: #222;
    color: white;
    padding: 20px;
    border-right: 1px solid #ebebeb;
  }

  .content {
    padding: 20px;
    overflow-y: auto;
  }
}

