// 🎨 Colori
$primary-color: #007bff;
$secondary-color: #6c757d;
$bg-sec-color: #f4f4f4;
$bg-sec-hover-color: #dadada;

$text-color: #333;
$text-sec-color: #676767;
$text-trd-color: #969696;
$border-color: #EBEBEB;

$success-text: #006800;
$success-bg: #b3ffb3;

$warning-text: #684611;
$warning-bg: #fbd89e;

$danger-text: #580c0c;
$danger-bg: #fcbbbb;

// 📏 Font sizes
$text-xs: 13px;
$text-s: 14px;
$text-m: 16px;
$text-large: 20px;
$text-xxl: 24px;

// Border Radius
$br-l: 20px;
$br-100: 999px;

// 📐 Spaziature
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
