// 🎨 Colori
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$text-color: #333;

// 📏 Font sizes
$text-xs: 13px;
$text-s: 15px;
$text-m: 16px;
$text-large: 20px;

// 📐 Spaziature
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
